@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --clr-bkg-light: #EDEDED;
    --clr-bkg-medium: #DFDFDF;
    --clr-bkg-dark: #C4C4C4;
    --clr-bkg-scroll: #b3b3b3;
    --clr-acc-fluff: #ACD6C6;
    --clr-text-light: #7A7A7A;
    --clr-text-dark: black;

    --main-height: 4rem;
    --margin-height: 3rem;
    --scd-height: 3.3rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100vh;
    background: var(--clr-bkg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

header{
    display: grid;
    height: var(--main-height);
    width: 100%;
    place-items: center;
    background: var(--clr-acc-fluff);
}

header h1{
    font-weight: 400;
    font-size: 2.3em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(1000px, 100%);
    min-height: 100vh;
    background: var(--clr-bkg-medium);
}

main > *:not(.details-container){
    margin-top: var(--margin-height);
}

.search{
    padding: 0;
    background: var(--clr-bkg-dark);
    outline: none;
    border: none;
    border-radius: 2rem;

    height: var(--scd-height);
    width: min(470px, 90%);
    padding: 0 1.3rem;

    box-sizing: border-box;

    font-size: 1.2rem;
}

.search::placeholder{
    font-size: 1.2rem;
    color: var(--clr-text-light);
}

section{
    width: min(95%, 90%);
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.element{
    height: 18rem;
    width: 22rem;
    background: var(--clr-bkg-dark);
    padding: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.element img{
    width: 100%;
    height: 12rem;
    /* border-radius: 1rem 1rem 0  0; */
    border-radius: 1rem;
    object-fit: cover;
}

.text-container{
    height: 100%;
    padding-top: 0.9rem;
    padding-left: 0.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-text-dark);
}

.element h2{
    font-size: 1.5rem;
    font-weight: 400;
}

.element p{
    font-size: 0.9rem;
    color: var(--clr-text-light);
}

.button-container{
    height: 100%;
    margin-bottom: var(--margin-height);
    align-items: center;
}

.load{
    display: inline-block;
    padding: 1rem 1.7rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    background: var(--clr-acc-fluff);
    color: var(--clr-text-dark);
    cursor: pointer;
    transition: filter 100ms;
}

.load:hover{
    filter: brightness(0.95);
}

.load:active{
    filter: brightness(0.85);
}

.details-container{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(0.4em);
    -webkit-backdrop-filter: blur(0.4em);
    transition: 200ms;
}

#closeTrigger{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10
}

.details{
    height: 80vh;
    width: min(800px, 100%);
    background: var(--clr-bkg-dark);
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 3.5rem;
    z-index: 20
}

.details img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.details-text-container{
    height: max-content;
    padding: 1rem;
    background: var(--clr-bkg-light);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.details-inner-container{
    overflow-y: auto;
    height: 100%;
    background: var(--clr-bkg-medium);
    border-radius: 1rem;
}

.details-button{
    display: inline-block;
    margin-top: 0.55rem;
    padding: 0.6rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    font-size: 1rem;
    background: var(--clr-acc-fluff);
    color: var(--clr-text-dark);
    cursor: pointer;
    transition: filter 100ms;
}

#locationMap{
    height: 20rem;
    width: 100%;
}

.hidden{
    pointer-events: none;
    opacity: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0.7em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--clr-bkg-dark);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-bkg-scroll);
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-bkg-scroll);
  }